body {
     font-family:Arial, Sans-Serif;
      /*background:#DEB887;*/
      background-size: 100%;
      opacity: 0.85;
      background-attachment: fixed;
}

a{
     color:#0067ab;
     text-decoration:none;
}
a:hover{
     text-decoration:underline;
}

input[type='text'], input[type='email'],
input[type='password'] {
     width: 200px;
     border-radius: 2px;
     border: 1px solid #CCC;
     padding: 10px;
     color: #333;
     font-size: 14px;
     margin-top: 10px;
}
input[type='submit']{
     padding: 10px 25px 8px;
     color: #fff;
     background-color: #0067ab;
     text-shadow: rgba(0,0,0,0.24) 0 1px 0;
     font-size: 16px;
     box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0;
     border: 1px solid #0164a5;
     border-radius: 2px;
     margin-top: 10px;
     cursor:pointer;
}
input[type='submit']:hover {
     background-color: #024978;
}

 /*Оболочка контента*/

 #wrapper{
   width: 60%;   /*меняется ширина страницы*/
   margin-left: 20%;
   padding-bottom: 10px;
   /*background:#FFDEAD;*/  /*меняется фон страницы*/
 }


  #wrapper-right{
   width: 20%; /*меняется ширина страницы*/
   margin-left: 80%;
   /*background:#FFDEAD;*/  /*меняется фон страницы*/
 }

  #wrapper-left{
   width: 16%; 
   margin-left: 1.5%;
   position: fixed;  /*меняется ширина страницы*/
   /*background:#FFDEAD;*/  /*меняется фон страницы*/
 }

 /*Шапка сайта*/

 #header{
   background-color: #fffff0;  /*фон шапки*/
    margin-bottom: 20px;  /*отступ шапки от текста*/
 /* border-radius */  /*закруглённые углы*/
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 5px;  /*меняется радиус закругления*/
 /* box-shadow */
   -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
   -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
   box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;  /*меняется величина тени*/
   blokbg1 {
background-image: url('/images/uzor.jpg');
background-repeat: repeat;
background-attachment: scroll;
}
 }
 img{  /*картинка в шапке*/
   float:left;
   margin-top: -138px;}  /*двигается выше-ниже*/
 h1{
  /*заголовок двигается верх-вправо-вниз-влево*/
   color:#000000;  /*цвет заголовка*/
 }
 

 
 /*Cтатья*/
 #content{
   margin-bottom: 5px; 
  margin: 0 auto; 
   width: 80%;  /*ширина статьи*/
   padding: 10px;  /*отступ текста от краёв*/
   background: #ffffff;  /*фон статьи*/
blokbg1 {
background-image: url('/images/uzor.jpg');
background-repeat: repeat;
background-attachment: scroll;
}
 /* border-radius */  
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
 /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
   -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
   box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
 
}

 #content-left{
  
   margin-bottom: 5%; 
   margin: 0 auto; 
   width: 90%;  /*ширина статьи*/
   padding-left: 5px;
  /*отступ текста от краёв*/
   background: #ffffff; 
   blokbg1 {
background-image: url('/images/uzor.jpg');
background-repeat: repeat;
background-attachment: scroll;
}
 /* border-radius */  
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
 /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
   -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
   box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
}
 /*Подвал*/
 #footer{
   height: 10%;  /*высота подвала*/
   background-color: #ffffff;  /*фон подвала*/
h2   margin-bottom: 5px;  /*отступ снизу*/
 /* border-radius */
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
 /* box-shadow */
   -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
   -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
}
 .clear{  /*запрет наплывания*/
   clear: both;
 }
 #pfooter{
     margin-bottom: 0px;
 }

 .right{  /*картинка в тексте справа*/
   float: right;
   margin-top: 30px;
 }

  #sidebar{
   background-color: #ffffff;  /*фон блока*/
   width: 200px; - ширина блока
   padding: 10px;  /*отступ текста от краёв*/
   float: right;
 /* border-radius */  /*блок с закруглёнными углами и тенью*/
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
 /* box-shadow */
   -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
   -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
   box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
 }